table tr td img
{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

table
{
    align-items: center;
}

table tr td 
{
    border: 10px solid black;
}

td
{
    padding: 50px;
    background-image: url(kave_kepek/falmingo.jpg);
}

body
{
    background-color: beige;
    margin: 0 auto 0 auto;
    background-image: url(kave_kepek/3480554.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.fejlec
{
    background-image: url(kave_kepek/939b2ff068edbf48e2540937ac56f97b.jpg);
}

.gomb
{
    color: wheat;
}

p
{
    color: #FDF5CC;

}
.logo
{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;

}
a
{
    color:#FDF5CC;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bolder;
    font-size: larger;
}