table tr td
{
    padding: 50px;
}



body
{
    background-color: beige;
    margin: 0 auto 0 auto;
    background-image: url(kave_kepek/3480554.jpg);
    background-repeat: no-repeat;
    background-size: 100%; 
    background-attachment: fixed;
}

.fejlec
{
    background-image: url(kave_kepek/939b2ff068edbf48e2540937ac56f97b.jpg);
}

.gomb
{
    color: wheat;
}

p
{
    color: #FDF5CC;

}

.left
{

    background-repeat: repeat-y;
    background-size: 225px 150px;
    width: 125px;
}

.right
{

    background-repeat: repeat-y;
    background-size: 225px 150px;
    width: 125px;
}

.belso tr td img
{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.belso tr td
{
    border: 10px solid black;
}
table
{
    margin: 0 auto 0 auto;
}
.falmingo
{
    background-image: url(Sütik/falmingo.jpg);
}
.logo
{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;


}
.gomb
{
    color: wheat;
}
a
{
    color:#FDF5CC;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bolder;
    font-size: larger;
}