body
{
    background-color: beige;
    margin: 0 auto 0 auto;
    background-image: url(kave_kepek/3d-render-cup-coffee-coffee-beans-wood-table-with-sunset-natural_56345-298.jpg);
}

.logo
{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;

}

.fejlec
{
    background-image: url(kave_kepek/939b2ff068edbf48e2540937ac56f97b.jpg);
}

.infos
{
    color: black;
}
a
{
    color:#FDF5CC;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bolder;
    font-size: larger;
}

.a
{
    padding-left: 1050px;
    color: #FDF5CC;
}
