body
{
    background-color: beige;
    margin: 0 auto 0 auto;
    background-image: url(kave_kepek/3480554.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.logo
{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;

}

.fejlec
{
    background-image: url(kave_kepek/939b2ff068edbf48e2540937ac56f97b.jpg);
}

.infos
{
    color: black;
}
a
{
    color:#FDF5CC;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bolder;
    font-size: larger;
}

.a
{
    padding-left: 1050px;
    color: #FDF5CC;
}
.yes tr td img
{
    width: 400px;
    height: auto;
    object-fit: cover;
}
.yes tr td 
{
    border: 10px solid black;
}
.yes td
{
    padding: 10px;
    height: 200px;
    background-image: url(kave_kepek/falmingo.jpg);
}
.yes
{
    margin: 0 auto 0 auto;
}